<% layout('../layout') -%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<script type="text/javascript">
 var _jobs = [];
</script>

<% if(jobs.length > 0) { %>
<div id="jobs">
  <% for (var i = jobs.length - 1; i >= 0; i--) { %>
    <div id="<%= jobs[i]._id %>">
      <span><%= jobs[i].filename %></span>
      <span><%= jobs[i].created_at %></span>
      <span class="status"><%= jobs[i].status %></span>
      <script type="text/javascript">_jobs.push({id: "<%= jobs[i].id %>"});</script>
    </div>
  <% } %>
</div>
<% } %>

<script type="text/javascript">

function updateStatus(id, message) {
  var selector = "#" + id + " span.status";
  $(selector).text(message);
}

function sendRequest(id) {
  $.ajax({
      type: 'POST',
      url: '/status',
      data: {id: id},
      success: function(data) { $('body').append(data); }
    });
}

for (var i = _jobs.length - 1; i >= 0; i--) { 
  var id = _jobs[i].id;
  sendRequest(id);
}

</script>
